.navbar-app {
  padding: 0;
  background-color: $app-navbar-bg-color;

  .logo-link i {
    color: $app-navbar-logo-color;
  }

  .navbar-collapse {
    .nav-link {
      padding: $app-navbar-nav-link-padding-y $app-navbar-nav-link-padding-x;
    }
  }
}

.global-actions {
  .nav-link {
    font-weight: $app-navbar-global-actions-nav-link-font-weight;
    color: $app-navbar-global-actions-nav-link-color;
    border-bottom: $app-navbar-global-actions-nav-link-border-width
      $app-navbar-global-actions-nav-link-border-style
      $app-navbar-global-actions-nav-link-border-color;
    @include transition-standard(all);

    &.active,
    &:hover {
      color: $app-navbar-global-actions-nav-link-active-color !important;
      border-color: $app-navbar-global-actions-nav-link-active-border-color;
    }

    span,
    i { vertical-align: middle; }

    i {
      font-size: $app-navbar-global-actions-nav-link-icon-font-size;
      margin-right: $app-navbar-global-actions-nav-link-icon-margin-right;
    }
  }
}

.nav-extras {
  align-items: center;

  form {
    position: relative;
    margin-right: $app-navbar-nav-extras-form-margin-right;

    input {
      border-radius: $app-navbar-nav-extras-input-border-radius;
      padding: $app-navbar-nav-extras-input-padding-y
        $app-navbar-nav-extras-input-padding-right
        $app-navbar-nav-extras-input-padding-y
        $app-navbar-nav-extras-input-padding-left;
      background-color: $app-navbar-nav-extras-input-background-color;
      border-color: $app-navbar-nav-extras-input-border-color;
      @include transition-standard(all);

      &:focus {
        box-shadow: 0 0 0 $app-navbar-nav-extras-input-glow-width
          $app-navbar-nav-extras-input-focus-border-color;
      }
    }


    button {
      position: absolute;
      border: $app-navbar-nav-extras-button-border-width;
      padding: $app-navbar-nav-extras-button-padding-y 0;
      width: $app-navbar-nav-extras-button-width;
      background-color: $app-navbar-nav-extras-button-bg-color;
      right: $app-navbar-nav-extras-button-position-r;
    }
  }

  .dropdown {
    .dropdown-menu { max-width: $app-navbar-dropdown-menu-max-width; }
    .dropdown-item {
      i { margin-right: $app-navbar-dropdown-item-icon-margin-right; }
    }
  }
}
