.auth-navbar {
  background-image: $auth-navbar-bg;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: $auth-navbar-padding-y 0;

  .logo-link svg { color: $auth-navbar-logo-color; }

  .language-dropdown {
    margin-left: auto;
    .dropdown-toggle {
      @extend %role-button;

      color: $language-dropdown-toggle-color;
      font-size: $language-dropdown-toggle-font-size;

      &:hover {
        color: $language-dropdown-toggle-color;
      }
    }

    .dropdown-menu {
      min-width: auto;
    }
  }
}
