.navbar {
  min-height: $navbar-min-height;
  border-bottom: $navbar-border-width $navbar-border-style
    $navbar-border-color;

  .container {
    position: relative;
  }

  .language-dropdown {
    position: absolute;
    right: $container-padding-x;

    .dropdown-toggle {
      @extend %role-button;

      color: $language-dropdown-toggle-color;
      font-size: $language-dropdown-toggle-font-size;

      &:hover {
        color: $language-dropdown-toggle-color;
      }
    }

    .dropdown-menu {
      min-width: auto;
    }
  }
}
