.navbar {
  min-height: $navbar-min-height;
  border-bottom: $navbar-border-width $navbar-border-style
    $navbar-border-color;

  .container {
    position: relative;
  }

  .logo-link {
    position: absolute;
    left: 50%;
    margin-left: $navbar-logo-margin-left;

    svg {
      font-size: $navbar-logo-font-size;
    }
  }
}
