div class="btn-show-tweet tweet-wrapper box-item box-item-hover" data-path="#{tweet_path(tweet.id)}" data-tweet-id="#{tweet.id}"
  div class="tweet-container"
    = render partial: 'components/tweet', object: tweet, as: :tweet
