%with-border {
  border: $border-width-primary $border-style-primary $border-color-primary;
}

%role-button {
  cursor: pointer;
}

%middle-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
