// Palette
$gray: #e6ecf0;
$gray--light: #f5f8fa;
$white: #fff;
$blue: #1da1f2;
$blue--dark: #0056b3;
$red--light: #c33;
$black: #212529;
$black--light: #657786;
$red: #e0245e;
$green: #17bf63;




// font-weight
$text-bold: 600;





// font-size
$text-normal: 1rem;
$text-small: .85rem;
$text-big: 1.5rem;
$decoration-primary: underline;




// Spaces
$padding-primary: 1rem;
$padding-low: .5rem;



// Sizings
$avatar-small: 32px;
$avatar-medium: 48px;
$avatar-large: 72px;




// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;





// Body
$body-bg-color: $gray;
$container-padding-x: 15px;





// Page wrapper
$page-wrapper-margin-top: 68px;
$page-wrapper-whitespace: 0;
$page-wrapper-sm-whitespace: 15px;





// Border
$border-width-primary: 1px;
$border-color-primary: rgba(0,0,0,0.1);
$border-color-secondary: #e6ecf0;
$border-style-primary: solid;

$border-color-dark: rgba(0,0,0,0.25);


// Navbar

  // Default
$navbar-min-height: 49px;
$navbar-border-width: $border-width-primary;
$navbar-border-style: $border-style-primary;
$navbar-border-color: $border-color-dark;

$navbar-logo-font-size: 1.5rem;
$navbar-logo-margin-left: -$navbar-logo-font-size / 2;



  // Auth navbar
$auth-navbar-padding-y: .75rem;
// $auth-navbar-padding-x: 1rem;
$auth-navbar-bg: asset_path('nav_gradient_bg.png');
$auth-navbar-logo-color: $white;

$language-dropdown-toggle-color: $white;
$language-dropdown-toggle-font-size: $text-small;




  // App navbar
$app-navbar-bg-color: $white;
$app-navbar-logo-color: $blue;

$app-navbar-nav-link-padding-x: 1rem;
$app-navbar-nav-link-padding-y: .75rem;

$app-navbar-global-actions-nav-link-font-weight: $text-bold;
$app-navbar-global-actions-nav-link-color: $black--light;
$app-navbar-global-actions-nav-link-border-color: transparent;
$app-navbar-global-actions-nav-link-border-width: 2px;
$app-navbar-global-actions-nav-link-border-style: $border-style-primary;

$app-navbar-global-actions-nav-link-icon-font-size: 1.15rem;
$app-navbar-global-actions-nav-link-icon-margin-right: 3px;

$app-navbar-global-actions-nav-link-active-color: $blue;
$app-navbar-global-actions-nav-link-active-border-color: $blue;

$app-navbar-nav-extras-form-margin-right: 1rem;

$app-navbar-nav-extras-input-border-radius: 100px;
$app-navbar-nav-extras-input-padding-y: .25rem;
$app-navbar-nav-extras-input-padding-left: 1rem;
$app-navbar-nav-extras-input-padding-right: 40px;
$app-navbar-nav-extras-input-background-color: $gray--light;
$app-navbar-nav-extras-input-border-color: $gray;
$app-navbar-nav-extras-input-border-width: 2px;
$app-navbar-nav-extras-input-glow-width: $app-navbar-nav-extras-input-border-width / 2;
$app-navbar-nav-extras-input-focus-border-color: $blue;

$app-navbar-nav-extras-button-border-width: 0;
$app-navbar-nav-extras-button-padding-y: .25rem;
$app-navbar-nav-extras-button-width: 32px;
$app-navbar-nav-extras-button-bg-color: transparent;
$app-navbar-nav-extras-button-position-r: .5rem;

$app-navbar-dropdown-menu-max-width: 300px;
$app-navbar-dropdown-item-icon-margin-right: 1rem;





// Auth page (sign in, sign up, reset password)
$auth-container-bg-color: $white;
$widescreen-auth-container-width: 80%;

$auth-form-padding-y: 2rem;
$auth-form-padding-x: 1rem;
$widescreen-auth-form-width: 500px;

$auth-header-padding-bottom: 1rem;






// Form element

  // label
$label-font-weight: $text-bold;
$label-font-size: $text-small;

$label-focus-color: $blue;

  // input
$input-border-width: 1px;
$input-border-color: $border-color-primary;
$input-border-style: $border-style-primary;
$input-bg-color: $white;
$input-padding-x: 0;
$input-padding-y: .5rem;
$input-border-radius: 0;

$input-border-focus-color: $blue;

  // links
$form-link-font-size: $text-small;
$form-link-margin-x: 5px;

  // errors
$form-errors-color: $red--light;
$form-errors-bg: asset_path('error.png');
$form-errors-padding-left: 16px;





// Button
$button-edge-border-radius: 100px;
$button-edge-padding-y: .25rem;
$button-edge-padding-x: 1rem;

$button-edge-large-font-size: 1.15rem;
$button-edge-large-font-weight: $text-bold;
$button-edge-large-padding-y: .5rem;

$button-edge-small-font-size: .75rem;
$button-edge-small-font-weight: $text-bold;

$button-secondary-color: $blue;
$button-secondary-bg-color: $white;
$button-secondary-border-color: $blue;

$button-secondary-hover-color: $blue;
$button-secondary-hover-bg-color: #E8F4FB;







// Box
$box-margin-bottom: 1rem;
$box-border-color: $gray;
$box-border-style: $border-style-primary;
$box-border-width: $border-width-primary;

$box-item-bg-color: $white;
$box-item-padding: $padding-primary;
$box-item-border-color: $border-color-secondary;
$box-item-border-width: $border-width-primary;
$box-item-border-style: $border-style-primary;

$box-item-header-margin-bottom: 1rem;
$box-item-header-link-font-size: 0.85rem;

$box-item-hover-bg-color: $gray--light;

$box-row-padding-y: $padding-primary;
$box-row-border-color: $border-color-secondary;
$box-row-border-width: $border-width-primary;
$box-row-border-style: $border-style-primary;





// Nav-box
$nav-box-bg-color: $white;
$nav-box-border-color: $gray;
$nav-box-border-width: $border-width-primary;
$nav-box-border-style: $border-style-primary;

$nav-box-link-font-size: 1.15rem;
$nav-box-link-font-weight: $text-bold;
$nav-box-link-line-height: 1;
$nav-box-link-padding: $padding-primary;
$nav-box-link-color: $black--light;
$nav-box-link-active-color: $black;
$nav-box-link-hover-decoration: $decoration-primary;

$nav-box-hover-link-border-width: 2px;
$nav-box-hover-link-border-color: transparent;
$nav-box-hover-link-border-style: $border-style-primary;

$nav-box-hover-link-active-color: #1b95e0;
$nav-box-hover-link-active-border-color: #1b95e0;
$nav-box-hover-link-active-decoration: none;






// Images
$avatar-thumb-border-radius: 50%;






// Tweet (newfeed)
$tweet-left-width: $avatar-medium;
$tweet-right-padding-left: $padding-primary;

$tweet-context-margin-bottom: .25rem;
$tweet-context-color: $black--light;
$tweet-context-left-text-align: right;
$tweet-context-right-font-size: .85rem;

$tweet-header-time-width: 60px;
$tweet-header-time-color: $black--light;

$tweet-actions-padding-top: $padding-primary;
$tweet-actions-padding-bottom: $padding-low;

$tweet-action-button-bg-color: transparent;
$tweet-action-button-padding-right: $padding-low;

$tweet-action-color: $black--light;
$tweet-action-icon-font-size: 1.15rem;
$tweet-action-count-font-size: $text-small;
$tweet-action-count-margin-left: 1rem;

$tweet-action-btn-reply-active-color: $blue;
$tweet-action-btn-retweet-active-color: $green;
$tweet-action-btn-favorite-active-color: $red;

$thread-connect-line-margin-y: 2px;
$thread-connect-line-width: 4px;
$thread-connect-line-position-top: $avatar-medium + $thread-connect-line-margin-y;
$thread-connect-line-position-bottom: $thread-connect-line-margin-y;
$thread-connect-line-position-left: ($avatar-medium - $thread-connect-line-width) / 2;
$thread-connect-line-bg-color: #A3D4F1;
$thread-connect-line-border-radius: 5px;

$thread-tweet-extras-left-padding-left: ($avatar-medium - $avatar-small) / 2;





// User's information

$account-username-color: $black--light;
$account-profilename-color: $black;
$account-profilename-hover-decoration: underline;

$account-summary-avatar-width: $avatar-medium;
$account-summary-actions-padding-left: $padding-primary;
$account-summary-actions-button-padding-top: .25rem;

$account-badge-username-color: $black--light;
$account-badge-username-font-size: 1rem;

$account-badge-profilename-font-size: 1.25rem;
$account-badge-profilename-color: $black;






// Options
$options-dropdown-width: 14px;
$options-dropdown-toggle-color: $black--light;






// Dropdown
$dropdown-menu-border-color: rgba(0,0,0,0.25);
$dropdown-menu-shadow-y: 1px;
$dropdown-menu-shadow-x: 0;
$dropdown-menu-shadow-opacity: 4px;

$dropdown-item-active-color: $white;
$dropdown-item-active-bg-color: #1B95E0;





// List-group
$list-group-item-border-radius: 0;
$list-group-item-padding-x: $padding-primary;
$list-group-item-padding-y: $padding-low;
$list-group-item-border-color: $border-color-secondary;

$list-group-item-chevron-font-size: .75rem;
$list-group-item-chevron-position-right: $list-group-item-padding-x;
$list-group-item-chevron-position-top: calc(#{$list-group-item-padding-y + (1rem - $list-group-item-chevron-font-size) / 2} + 2px);

$list-group-item-hover-color: $blue;

$list-group-item-active-bg-color: $white;
$list-group-item-active-color: $black;
$list-group-item-active-font-weight: $text-bold;




// Footer
$footer-font-size: $text-small;
$footer-item-padding-right: $padding-low;
$footer-item-color: $black--light;
$footer-item-link-hover-color: $blue;
