= content_for :left_panel
  div.box-fix
    div.box
      div.box-item
        h5.box-item-header
          | Box item header
        div.box-items
          - (1..4).each do
            div.box-row
              | Box row content
      div.box-item
        | Box item content

    div.box
      - (1..4).each do
        div.box-item
          | Box item content

= content_for :right_panel
  = render partial: 'components/follow_suggestions/index', locals: { users: User.all }

div.box-fix
  div.box
    div class="box-item"
      div class="tweet-container thread"
        div class="tweet-context"
          div class="tweet-left"
            i class="fas fa-retweet"
          div class="tweet-right"
            a href="#" TwinBox@コミ1-あ33a
            span &nbsp;
            span Retweet

        div class="original-tweet"
          div class="tweet-left"
            div class="avatar-medium"
              div class="img-placeholder ratio-1_1"
                img class="img-thumb avatar-thumb" src="/assets/avatar_example.jpg"

          div class="tweet-right"
            div class="tweet-info"
              span class="account-info"
                a class="account-link" href="#"
                  strong 泉水茜
                  span &nbsp;
                  span @izumi_akn
              span class="px-1" &middot;
              span class="time"
                | 15h

            p
              | エレちゃんバニーです！ #FGO #FateGO

            div class="tweet-medias"
              div class="img-placeholder ratio-2_3"
                img class="img-thumb" src="/assets/example.jpg"

            div class="tweet-actions"
              div data-toggle="tooltip" data-placement="top" title="Reply"
                button class="tweet-action-button"
                  i class="far fa-comment"
                  span 29
              div data-toggle="tooltip" data-placement="top" title="Retweet"
                button class="tweet-action-button"
                  i class="fas fa-retweet"
                  span 1.2K
              div data-toggle="tooltip" data-placement="top" title="Favorite"
                button class="tweet-action-button"
                  i class="far fa-heart"
                  span 3.6K

        div class="tweet-extras"
          div class="tweet-left"
            div class="avatar-small"
              div class="img-placeholder ratio-1_1"
                img class="img-thumb avatar-thumb" src="/assets/avatar_example.jpg"

          div class="tweet-right"
            a href="#" Show this thread
