.box-fix {
  margin-bottom: -$box-margin-bottom;

  .box {
    margin-bottom: $box-margin-bottom;
    border: $box-border-width $box-border-style $box-border-color;
  }
}

.box-item {
  background-color: $box-item-bg-color;
  padding: $box-item-padding;

  &:not(:last-child) {
    border-bottom: $box-item-border-width $box-item-border-style $box-item-border-color;
  }

  .box-item-header {
    margin-bottom: $box-item-header-margin-bottom;

    h3, h4, h5,
    h6 { display: inline; }

    a { font-size: $box-item-header-link-font-size; }
  }
}

.box-row {
  &:not(:first-child) {
    padding-top: $box-row-padding-y;
  }

  &:not(:last-child) {
    border-bottom: $box-row-border-width $box-row-border-style $box-row-border-color;
    padding-bottom: $box-row-padding-y;
  }
}


// Effect
.box-item-hover:hover {
  background-color: $box-item-hover-bg-color;
  @include transition-standard(background-color);
}

$box-blue-bg-color: #E8F4FB;
.box-bg-blue {
  background-color: $box-blue-bg-color;
}
