.btn-fw {
  width: 100%;
}

.btn-edge {
  border-radius: $button-edge-border-radius;
  padding: $button-edge-padding-y $button-edge-padding-x;
}

.btn-edge--large {
  padding: $button-edge-large-padding-y $button-edge-padding-x;
  font-weight: $button-edge-large-font-weight;
  font-size: $button-edge-large-font-size;
}

.btn-edge--small {
  font-weight: $button-edge-small-font-weight;
  font-size: $button-edge-small-font-size;
}

.btn-secondary {
  background-color: $button-secondary-bg-color;
  color: $button-secondary-color;
  border-color: $button-secondary-border-color !important;

  &:hover,
  &:active {
    color: $button-secondary-hover-color !important;
    background-color: $button-secondary-hover-bg-color !important;
  }
}
