.img-wrapper {
  display: block;
}

.img-placeholder {
  position: relative;

  &:after {
    content: '';
    display: block;
  }
}

.img-thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #fff;

  &.avatar-thumb {
    border-radius: $avatar-thumb-border-radius;
  }
}

// ratio
.ratio-1_1:after { padding-bottom: 100%; }
.ratio-1_2:after { padding-bottom: 2 / 1 * 100%; }
.ratio-2_1:after { padding-bottom: 1 / 2 * 100%; }
.ratio-2_3:after { padding-bottom: 3 / 2 * 100%; }
.ratio-3_1:after { padding-bottom: 1 / 3 * 100%; }
.ratio-3_2:after { padding-bottom: 2 / 3 * 100%; }

// sizing
.avatar-small {
  width: $avatar-small;
}

.avatar-medium {
  width: $avatar-medium;
}

.avatar-large {
  width: $avatar-large;
}

.avatar-original {
  width: 200px;
}
