$modal-loading-image: asset_path("loading.gif");
$modal-min-height: 250px;
$modal-loading-image-height: 70px;
$modal-content-margin-y: ($modal-min-height - $modal-loading-image-height) / 2;

$modal-width: 640px;
$modal-margin-y: 60px;

.modal-loading {
  height: $modal-loading-image-height;
  margin-top: $modal-content-margin-y;
  margin-bottom: $modal-content-margin-y;
  background-repeat: no-repeat;
  background-image: $modal-loading-image;
  background-position: center center;
  background-size: contain;
}

.modal-dialog {
  max-width: $modal-width;
  margin: $modal-margin-y auto;
}
