$modal-loading-image: asset_path("loading.gif");
$modal-loading-image-height: 70px;

$modal-min-height: 250px;
$modal-loading-spacing: 30px;
$modal-content-margin-y: ($modal-min-height - $modal-loading-image-height) / 2;

$modal-width: 640px;
$modal-margin-y: 60px;
$modal-border-radius: 8px;

// .modal-loading {
//   height: $modal-loading-image-height;
//   margin-top: $modal-content-margin-y;
//   margin-bottom: $modal-content-margin-y;
//   background-repeat: no-repeat;
//   background-image: $modal-loading-image;
//   background-position: center center;
//   background-size: contain;
// }
//
.modal-loading {
  padding-top: $modal-loading-spacing;
  padding-bottom: $modal-loading-spacing;
}

.modal-dialog {
  max-width: $modal-width;
  margin: $modal-margin-y auto;
  border-radius: $modal-border-radius;
}

.modal {
  .box {
    margin-bottom: 0;
    &:last-child {
      border-radius: 0 0 $modal-box-border-radius $modal-box-border-radius;
    }
    &:first-child {
      border-radius: $modal-box-border-radius $modal-box-border-radius 0 0;
    }
  }
}
