body {
  background-color: $body-bg-color;
  // font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family: "Segoe UI",Arial,sans-serif;
  overflow-y: scroll;
}

.page-wrapper {
  margin-top: $page-wrapper-margin-top;
  padding: $page-wrapper-whitespace;

  > .row {
    margin-right: $page-wrapper-whitespace;
    margin-left: $page-wrapper-whitespace;

    > * {
      padding-right: $page-wrapper-whitespace;
      padding-left: $page-wrapper-whitespace;
    }
  }
}

.page-wrapper {
  @include responsive(sm) {
    padding-left: $page-wrapper-sm-whitespace;
    padding-right: $page-wrapper-sm-whitespace;

    > .row {
      margin-right: -$page-wrapper-sm-whitespace;
      margin-left: -$page-wrapper-sm-whitespace;

      > * {
        padding-right: $page-wrapper-sm-whitespace;
        padding-left: $page-wrapper-sm-whitespace;
      }
    }
  };
}

.btn:focus, .btn.focus, button:focus, button.focus {
  box-shadow: none;
  outline: 0;
}

a {
  color: $blue;
}

// * {
//   border-radius: 0 !important;
// }
