body {
  background-color: $body-bg-color;
}

.page-wrapper {
  margin-top: $page-wrapper-margin-top;
  padding: 0;

  @include responsive(sm) {
    padding: 0 $page-wrapper-sm-padding-x;
  };
}

.btn:focus, .btn.focus {
  box-shadow: none;
}

// * {
//   border-radius: 0 !important;
// }
